/node_modules
/public/hot
/public/storage
/public/js/atlas.js
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/debugbar/
.env
public/mix-manifest.json