@charset "UTF-8";@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap');
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

label {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}

body > .container {
    padding: 60px 10px;
    max-width: 1200px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bg-techo-blue {
    background-color: #0092dd;
}

.card {
    border: none;
    /*width: 380px;*/
}

.card:hover {
    /*background-color: #e8ebef; */
}

.bg-white {
    background-color: #ffffff;
}

.facebook {
    background-color: #004d92  !important;
    color: #ffffff  !important;
    font-weight: bold;
    width: 269px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    border: none;
}

.google {
    background-color: #e53935 !important;
    color: #ffffff  !important;
    font-weight: bold;
    width: 269px;
    text-align: left;
    padding: 5px;
    margin: 5px;

}


.techo-logo {
    width: 122px;
    height: 37.6px;
}

.techo-blue {
    color: #0092dd;
}

.techo-titulo-card {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #231837;
}
.techo-h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #231837;
}

.techo-h6 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.techo-h6:hover {
    text-decoration: none;
}

.techo-small-text {
    font-size: smaller;
}
.card-body h5 {
    font-weight: bolder;
}

.fixed-bottom .row {
    /*
    background-color: #231837;

    padding: 0.5em;*/
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #D9D9D9;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow-x: hidden;
}


.techo-footer-suscribe {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 1em;
}

.techo-hero {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #392f28;
    position: relative;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

a {
    color: #0092dd
}

#login-modal h2 {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #212121;
    margin-top: 1em;
}

#login-modal label {
    height: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #363636;
}

#login-modal .cerrar {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 1;
    text-shadow: none;
}

#login-modal a {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0092dd;
    text-transform: uppercase;
}
.techo-btn-azul {
    background-color: #0092dd;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    vertical-align: center;
    padding: 1em 3em;
}

.techo-btn-blanco {
    background-color: #fff;
    color: #0092dd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.techo-hero img {
    width: 100%;
}

.techo-hero h1 {
    font-size: 5vw;
    margin: auto;
    position: absolute;
    z-index: 1;
    font-weight: bold;
    vertical-align: middle;
    line-height: normal;
    padding-bottom: 3rem;
    text-shadow: 0 0 16px #60676a;
}

.techo-hero h2 {
    font-size: 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-weight: bold;
    line-height: normal;
    text-shadow: 0 0 16px #60676a;
}

.techo-hero.actividades {
    background: url('/img/hero-slim.jpg');
    background-size: cover;
    /*height: 210px;*/
    padding-top: 8vh;
    max-width: 100%;
    height: auto;
}
.techo-hero.actividades h2 {
    font-size: 2.5vw;
    /*padding: 0;*/
    position: relative;
}

.techo-hero p {
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    top: 220px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

footer.inscripcion-bar {
    background-color: #ffffff;
    border-top: solid 1px #cecece;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.inscripcion-btn {
    width: 180px;
    height: 40px;
    border-radius: 4px;
    background-color: #0092dd;
}

footer.incripcion-bar h5{
    height: 40px;
    border-radius: 4px;
    background-color: #0092dd;
}

footer.inscripcion-bar .text-primary {
    text-align: center;
    vertical-align: center;
    padding-top: 6px;
}

@media all and (max-width: 768px) {
    .hero {
        height: 50vw;
    }

    .bar {
        height: 26vw;
        top: 10vw;
    }

    .hero h1 {
        font-size: 8vw;
        top: 13vw;
    }

    .hero p {
        font-size: 3vw;
        top: 27vw;
    }

}

.coordinador-img {
    position: relative;
    background-color: gray;
    width: 100px; !important;
    height: 100px; !important;
}

.coordinador-img h4 {
    position: absolute;
    top: 35%;
    left: 35%;
    font-weight: bold;
}


#datatable-mis-actividades thead {
    display:none
}

/* Media queries */

@media (max-width: 543px) {
    h1.text-primary {
        font-size:1.5rem; /*1rem = 16px*/
    }

    main {
        margin-bottom: 175px;
    }
}
@media (min-width: 544px) {
    .techo-hero h1, .techo-hero h2 {
        font-size:2.5rem; /*1rem = 16px*/
    }

    h1 {
        font-size:2.5rem; /*1rem = 16px*/
    }

    main {
        margin-bottom: 175px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .techo-hero h1, .techo-hero h2 {
        font-size:3.5rem; /*1rem = 16px*/
    }

    h1 {
        font-size:2.5rem; /*1rem = 16px*/
    }

    main {
        margin-bottom: 175px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .techo-hero h1, .techo-hero h2 {
        font-size:4rem; /*1rem = 16px*/
    }

    h1 {
        font-size:2rem; /*1rem = 16px*/
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .techo-hero h1, .techo-hero h2 {
        font-size:5rem; /*1rem = 16px*/
    }

    h1 {
        font-size:3rem; /*1rem = 16px*/
    }
}