.vdp-datepicker__calendar {
    z-index: 850 !important;
}

.tab-content {
    background-color: #ECF0F1 !important;
}

ul.nav.nav-tabs {
    border-bottom: 3px solid #d2d6de !important;
    padding-bottom: 2px;
}

ul.nav.nav-tabs li.active {
    border-bottom-width: 0 !important;
}

div[aria-label="Insert link"] .mce-btn.mce-open {
    display: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
    section.content {
        margin-bottom: 120px;
    }
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Fredoka, 'Montserrat', sans-serif;
}
