.vdp-datepicker__calendar {
    z-index: 850 !important;
}

.tab-content {
    background-color: #ECF0F1 !important;
}

ul.nav.nav-tabs {
    border-bottom: 3px solid #d2d6de !important;
}

ul.nav.nav-tabs li.active {
    border-bottom-width: 0 !important;
    padding-bottom: 2px !important;
}

div[aria-label="Insert link"] .mce-btn.mce-open {
    display: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.box-body input[type=text], .box-body input[type=number] {
    height: 44px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
}

.box-body input[type=text][disabled=disabled], .box-body input[type=number][disabled=disabled] {
    background-color: #f8f8f8;
    color: #333;
    border-color: rgba(60, 60, 60, 0.26);
}

/*Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
    section.content {
        margin-bottom: 120px;
    }
}