
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
    overflow-y: scroll;
}

body * {
    font-family: Montserrat;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-style: none!important;
    outline-width: 0!important;
}

nav.bg-techo-blue {
    .container {
        a.navbar-brand {
            margin-left: -5%;
        }
        >span{
            margin-right: -8%;
        }
    }
}

#app > main > div.container.pt-4.pb-5.mb-5 > h1 {
    color: $brand-primary !important;
}

.card.border-light {
    border: none !important;
}

.card-deck.home .card:nth-child(1) h3 {
    color: $brand-primary;
    font-size: 24px;
    height: 58px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-deck.home .card:nth-child(2) h3 {
    color: #ea6d4f;
    font-size: 24px;
    height: 58px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.card-deck.home .card:nth-child(3) h3 {
    color: #d78e01;
    font-size: 24px;
    height: 58px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.btn-primary {
    background-color: $brand-primary !important;
    border: none !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.btn-link {
    color: $brand-primary !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}